@media screen and (min-width: 768px) {
    .navegacao {
        font-size: 1.4rem;
        gap: 5rem;
    }
    .navegacao a:hover {
        color: #D94140;
    }
    .h1P h1 {
        font-size: 2rem;
    }
    .h1P p {
        font-size: 1.5rem;
    }
    .btnAgendamento button {
        background-color: transparent;
        border: 1px solid #d6d6d6c2;
        font-size: 1rem;
        padding: 20px;
        transition: all .2s linear;
    }
    .btnAgendamento button:hover {
        background-color: #D94140;
        border: none;
    }
    #about {
        display: flex;
        align-items: center;
        padding: 0px 110px;
    }
    .textAbout h2 {
        font-size: 2.5em;
        padding: 60px 0px;
    }
    .imgs {
        width: 50%;
        padding: 0px 50px 0px 0px;
    }
    .textAbout {
        width: 50%;
    }
    .textAbout p {
        font-size: 1.2em;
        line-height: 2;
    }
    #services {
        padding: 40px 60px;
    }
    #services h2 {
        font-size: 2.3em;
    }
    #services p {
        max-width: 600px;
        margin: auto;
        font-size: 1.3em;
        line-height: 1.6;
    }
    .cortes {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    #card {
        box-shadow: 4px 4px 4px #000;
        cursor: pointer;
    }
    .informationDetails {
        display: flex;
        width: 100%;
        z-index: 99;
    }
    #card h4 {
        font-size: 1.1rem;
        font-weight: 600;
    }
    #card img {
        transition: all .2s linear;
    }
    #card img:hover {
        transform: scale(1.1);
        z-index: 1;
    }
    #card button {
        padding: 10px 5px;
        font-size: 0.9em;
        cursor: pointer;
        white-space: nowrap;
    }
    #location h2 {
        font-size: 3em;
    }
    footer .midias {
        font-size: 3em;
    }
    footer .midias a:hover {
        color: #D94140;
    }
    footer p {
        font-size: 1.2em;
    }
    footer .whatsapp {
        width: 70px;
        height: 70px;
        right: 40px;
    }
}